<li>
	<img src="#" width="50px" height="50px" />
	<p>
	<% if user.id == current_user.id %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= link_to user.name, user %>
	<% end %>
	created <%= link_to "#{find_item(item)}", item_path(item) %></p>
</li>