<% get_user_for_feed(friended) %>
<li>
	<p>
	<% if friender.id == current_user.id %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= link_to friender.name, friender %>
	<% end %>
	 started following <%= link_to_user @user, :content_method => :name %></p>
</li>
