<li>
	<p>
	<% if friender.id == current_user.id %>
		<%= link_to "You", current_user %>
	<% else %>
		<%= link_to friender.name, friender %>
	<% end %>
	 started following <%= link_to show_name(friended) %></p>
</li>