body {
	
	background: #f2f2f2;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #3c3c3c;
	text-shadow: 0px 1px 0px #ffffff;
	
}

a { color: #1c1c1c; }

ul { list-style-type: none;}

#container {
	
	width: 800px;
	margin: 0 auto;

}

#content {
	
	background: #ffffff;
	margin-top: 20px;
	padding: 10px;
	-webkit-box-shadow: #cccccc 0px 0px 2px;
	overflow: hidden;	
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }
h5 { font-size: .8em; }
h6 { font-size: .5em; }


header {
	
	overflow: hidden;
	margin-top: 10px;
	padding: 0px 10px;
	
}

header h1 {
	
	float: left;
	text-shadow: none;
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-style: italic;
	font-weight: bold;
	
}

header h1 a {
	
	text-decoration: none;
	
}

#nav {
	
	float: right;
	list-style-type: none;
	margin-top: 15px;
}

#nav li {
	
	display: inline;
	margin-left: 30px;
	
}

#nav li a {
	
}


.left-column {
	
	float:left;
	
}

.right-column {
	
	float: right;
	width: 250px;
	background: red;
	
}
