@font-face {
	
	font-family: "Lobster";
	src: url(../type/lobster.otf);
	src: local("☺"),
		url("../type/lobster.otf") format("opentype");
	
}


body {
	
	background: #f2f2f2;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #3c3c3c;
	text-shadow: 0px 1px 0px #ffffff;
	
}

a { color: #1c1c1c; }

ul { list-style-type: none;}

#container {
	
	width: 900px;
	margin: 0 auto;
}

#content {
	
	clear: both;
	background: #ffffff;
	margin-top: 10px;
	padding: 10px;
	-webkit-box-shadow: #cccccc 0px 0px 2px;
	overflow: hidden;
	position: relative;
	z-index: 0;
	
}


h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }
h5 { font-size: .8em; }
h6 { font-size: .5em; }


header {
	
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	position: relative;
	z-index: 2;
}

header h1 {
	
	float: left;
	text-shadow: none;
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-style: italic;
	font-weight: bold;
	margin-left: 10px;
	
}

header h1 a {
	
	text-decoration: none;
	
}

header ul {
	
	float: right;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	margin-right: 10px;
}

header ul li {
	
	float: left;
	position: relative;
	margin-left: 10px;
	width: 100px;
	padding-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

header ul li a {
	
	text-decoration: none;
	margin-left: 10px;
	
}

header li ul {
	
	display: none;
	position: absolute;
	top: 1.3em;
	left: 0;
	z-index: 200;
	
}

header li:hover {
	
	background: #3c3c3c;
	color: #ffffff;
	text-shadow: none;

}

header li:hover a {
	
	color: #ffffff;
	text-decoration: underline;
	
}

header li:hover ul {
	
	display: block;
	background: #3c3c3c;
	width: 100px;
	padding-bottom: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

header li:hover ul li {
	
	margin: 0;
	padding: 0px;
	float: none;
	text-align: left;
	background: none;
	
	
}

header li:hover ul li a {
	
	color: #ffffff;
	text-shadow: none;
	
}

.left-column {
	
	float:left;
	width: 70%;
	
}

.right-column {
	
	float: right;
	width: 30%;
	
}
label {
	
	margin-bottom: 10px;
	
}


input[type=text], input[type=password] {
	
	
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid #dedede;
/*	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ffffff;*/
	border-radius: 5px;
}

.ct-l {
	
	font-family: "Lobster", "Helvetica Neue", "Helvetica", "Arial", serif;
	letter-spacing: 1.8px;
}

input[type=submit] {
	
	background: red;
	border-radius: 20px;
	border: none;
	color: #ffffff;
	text-shadow: none;
	font-size: 1em;
	padding: 8px 20px;
}

#login-bg {
	
	background: #fff;
	width: 300px;
	padding: 5px;
	margin: 0;
	-webkit-box-shadow: #ccc 1px 1px 1px;
	
}

#login-bg h1 {
	
	color: #3c3c3c;
	text-shadow: 0px -1px 0px #000;
	
}

.notice {
	
	background: #fff4b4;
	border: 1px solid #f9e889;
	padding: 5px;
	text-shadow: none;
	clear: both;
	
}

.user-details {
	padding: 10px 0px;
	width: 535px;
	float: left;
}

.user-info {
	
	float: left;
	padding-top: 12px;
	
}

.user-counts {
	
	float: right;
	background: #ccc;
	border: 1px solid #3c3c3c;
	border-radius: 5px;
	
}

.user-counts a {
	
	float: left;
	padding: 10px;
	overflow: hidden;
	text-align: center;
	
}

.user-action-buttons {
	
	float: right;
	margin-right: 20px;
	margin-top: 30px;
	
}

#user-following-list {
	
	margin-top: 20px;
	
	
}

#user-following-list ul {
	
	background: #ccc;
	padding: 10px;
	overflow: hidden;
	margin-top: 5px;
	border-radius: 5px;
}

#user-following-list li {
	
	display: inline;
	width: ;
	
}

