<div class="user-details">
	<div class="user-info">
		<h3><%= link_to "#{user.name} (@#{user.login})", user %></h3>
	</div>
	
	<%= render :partial => 'counts', :locals => { :user => user } %>
	
</div>

<div class="user-action-buttons">	
<% if logged_in? %>
	<% if current_user.following?(user) %>
		<p>Following</p>
	<% elsif user.id == current_user.id %>
		<p>That's You</p>
	<% else %>
		<%= link_to "Follow" %>
	<% end %>
<% end %>
</div>