<div class="user-details">
	<div class="user-info">
		<%= image_tag user.avatar.url(:thumb) %>
		<h3><%= link_to user.name, user_path(user) %></h3>
	</div>
	
	<%= render :partial => 'counts', :locals => { :user => user } %>
	
</div>

<div class="user-action-buttons">	
<% if logged_in? %>
	<% if current_user.following?(user) %>
		<p>Following</p>
	<% elsif user.id == current_user.id %>
		<p>That's You</p>
	<% else %>
		<%= link_to "Follow", relationships_path, :method => :post  %>
	<% end %>
<% end %>
</div>