<div class="left-column">
	<h1><%= @user.name %></h1>
	<p><% if logged_in? %><%= render :partial => 'follow_form'%><% end %></p>
	
	<h2>Recent Activity</h2>
	
	<div class="activity-feed">	
		
		<ol>
			<% @user.activities.each do |activity| %>
				<%= show_feed_item(@user, activity.activity_type, activity.target_id) %>
			<% end %>
		</ol>
	
	</div>
</div>

<div class="right-column">
	<%= render :partial => 'counts', :locals => { :user => @user } %>
</div>
