<div class="left-column">
	
	<%= render :partial => 'header', :locals => { :user => @user } %>
	
	<h2>Recent Activity</h2>
	
	<div class="activity-feed">		
		<ol>
			<% @activities.each do |activity| %>
				<%= show_feed_item(@user, activity.activity_type, activity.target_id) %>
			<% end %>
		</ol>
		<%= will_paginate @activities %>
	</div>
</div>

<div class="right-column">
	
	<%= render :partial => 'following_list', :locals => { :user => @user } %>
	
</div>
