<div class="left-column">
	<h1><%= @user.name %></h1>
	<p><% if logged_in? %><%= render :partial => 'follow_form'%><% end %></p>
</div>

<div class="right-column">
	<%= render :partial => 'counts', :locals => { :user => @user } %>
</div>
