<%= render :partial => 'header', :locals => { :user => @user } %>

<ol>
<% @grabs.each do |grab| %>
	<li>
		<h3><%=  link_to grab.item.name, grab.item %></h3>
		<p><%= grab.created_at %></p>
	</li>
<% end %>