<div class="left-column">
	<h1>Dashboard</h1>
	
	<div id="create-item">
		
	</div>
	
	<div class="activity-feed">
		
		<h2>Recently</h2>
		
	</div>
	
</div>

<div class="right-column">
	<p>Welcome <%= current_user.first_name %></p>
	
	<div id="user-following-list">
		
		<h3>Following</h3>
		<ul>
		<% current_user.following.each do |p| %>
			<li>
				<%= link_to "#{p.first_name }", user_path(p) %></a>
			</li>
		<% end %>
		</ul>
	</div>
		
</div>