<div class="left-column">
	<h1>Dashboard</h1>
	
	<div id="create-item">
		
	</div>
	
	<div class="activity-feed">
		
		<h2>Recently</h2>
		
	</div>
	
</div>

<div class="right-column">
	<p>Welcome <%= current_user.first_name %></p>
	
	<div id="user-items">
		<h2>Recent Items</h2>
		<% if current_user.items.empty? %>
			<p>You haven't added any items yet.</p>
		<% else %>
			<ol>
				<% current_user.items.each do |item| %>
					<li><%= link_to item.name, item %></li>
				<% end %>
			</ol>
		<% end %>
	</div>
		
</div>