<div class="left-column">
	<h1>Welcome to Sweetzie</h1>
	<p>Sweetzie is a way for you to share your favorite foods with your friends</p>
</div>

<div class="right-column">
<div class="sign-up">
<%= link_to 'Sign Up', :controller => 'users', :action => 'new' %>
</div>
</div>
